@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: hsl(0, 0%, 100%);
  --vt-c-white-soft: hsl(0, 0%, 98%);
  --vt-c-white-mute: hsl(220, 16%, 96%);

  --vt-c-grayish-blue: hsl(233, 8%, 62%);

  --vt-c-dark-blue: hsl(233, 26%, 24%);
  --vt-c-lime-green: hsl(136, 65%, 51%);
  --vt-c-light-blue: hsl(192, 70%, 51%);

  --vt-c-text-light-1: var(--vt-c-dark-blue);
  --vt-c-text-light-2: var(--vt-c-grayish-blue);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: var(--vt-c-grayish-blue);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-heading: var(--vt-c-dark-blue);
  --color-text: var(--vt-c-grayish-blue);

  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background-soft);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    'Public Sans',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
